.preview img{
    width: 200px;
    height: 200px;
}
body{
    font-family: Arial,sans-serif;
}
p{
    font-size: 18px;
}
.preview *{
    margin: 10px;
}
.preview a{
    background-color: #F8F8F8;
    display: flex;
    text-decoration: none;
    color: #333333;
    border-radius: 10px;
    border: #F8F8F8 solid;
}
.preview a:active,.preview a:hover{
    color: #007BFF;
    background-color: #e0dfdf;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
}
main{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}
body,html{
    margin: 0;
    min-height: 100%;
    background-color: #f3f3f3;
}
.buttons{
    display: flex;
    justify-content: center;
    background-color: #989696;
    border-bottom: #f3f3f3 solid;
    padding: 10px;
    min-width: 40%;
}
.header{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}
.header a{
    text-decoration: none;
}
.button a{
    background-color: #a9a9a9;
    color: #333333;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.button a:hover,.button a:active{
    background-color: #666666;
}
.active a{
    background-color: #1a202c;
    color: white;
}
.form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border: #989696 solid;
    border-radius: 30px;
}
.form form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.form input{
    margin: 10px;
}
.create{
    background-color: #96d37e;
    color: white;
    white-space: nowrap;
    border-radius: 10%;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}
.preview{
    width: 1000px;
}
.preview a{
    display: flex;
}
.preview a > div{
    display: flex;
    flex-direction: column;
}
.previewText{
    width: 700px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}
.likes{
    text-align: end;
}
.preview_buttons{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.preview_buttons form{
    width: 100%;
}
.preview_buttons form button{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    justify-content: center;
}
.wrapper *{
    text-decoration: none;
}
.delete:hover, .edit:hover, .create:hover,
.delete:active, .edit:active, .create:active {
    background-color: #666666;
}
.article .articleText{
    margin-left: 10px;
}
.articleImg{
    display: flex;
    justify-content: center;
}
.articleInfo{
    display: flex;
    flex-direction: row;
}
.articleInfo div{
    width: 50%;
}
.articles{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.admin_row{
    width: 1000px;
    display: flex;
    margin: 5px;
    border-radius: 5px;
}
.button_parser{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: #007BFF;
    background-color: #96d37e;
}
.button_parser:hover,.button_parser:active{
    background-color: red;
}
.editForm *{
    font-size: 16px;
}
.editWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    width: 80%;
}
.editForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.editForm label{
    font-size: 18px;
}
.editImage{
    width: 100%;
}
.editForm label{
    align-self: start;
}
.editForm textarea{
    margin: 10px;
    width: 90%;
    padding: 10px;
    min-height: 500px;
    background-color: #484646;
}
.editImageDiv{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.editImageDiv img{
    margin: 10px;
    width: 93%;
}
.editForm input{
    margin: 10px;
    padding: 10px;
    width: 90%;
}
.editHead{
    align-self: start;
}
.editForm button{

}
.original{
    width: 100%;
    padding-left: 20px;
}
.save-button {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.save-button:hover {
    background-color: #fff;
    color: #000;
}
